.banner{
    width: 100%px;
    height: 500px;
    background-image: url(banner2.jpg);
}
#logo-img{
    width: 50px;
    height: auto;
    
}
#logo{
    width: 250px;
    margin-right: 800px;
    padding: 10px 10px;
    margin-bottom: 10px;
}
.menu .list{
    text-transform: uppercase;
    font-weight:bold ;
    margin-top: 10px;
background-color: rgb(255, 255, 255);
padding: 20px;
padding: 30px 9px;
text-decoration: none;
    
display: flex;
    justify-content: right;
    list-style: none;
    position:relative;
}


/* .list a::after{
    content:"";
    height:5px;
    width:0px;
    background:	#FF0000;
    position:absolute;
    bottom:0px;
    left:0;
    transition: all 0.5s ease-in-out;
}
.list a:hover::after{
    width:50%;
} */

.product-cat{
    text-decoration: none;
    font-size: 100%;
}
li{
    padding-left: 20px;
}
.khung{
    padding: 20px;
}

.bodyy1{
    margin-top: 60px;
    display:flex;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    
}
.bodyy1 .body-left{
    width: 700px;
    height: 300px;
    
    list-style: none;
    color: black;
    font-size: 150%;

}

.bodyy1 .body-right{
    
margin-left: 200px;
}



.bodyy2{
    margin-top: 20px;
    display:flex;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    
}
.bodyy2 .body-left{
    width: 700px;
    height: 300px;
 
    list-style: none;
    color: black;
    font-size: 150%;

}

.bodyy2 .body-right{
    margin-left: 200px;

}

h1{
    font-size: 220%;
}
h2{
    font-size: 70%;
}
.button2{

    display:inline-block;
        padding:8px 10px;
        background-color:	#ffffff;
        color:rgb(0, 0, 0);
        text-decoration: none;
        border-radius: 10%;
        margin-top: 20px;


        cursor:pointer;
    transform: skew(0deg);
    &:before{
    content:"";
    position: absolute; 
    top:0;
    bottom:0;
    right:100%;
    left: 100%; 
    background: #000000; 
    opacity: 0;
    z-index:-1; 
    transition: all 0.5s;
    border-radius: 10%;
    }
    &:hover { 
        
    color:#fff;
    &:before{ 
    left:0;
    right:0;
    
    opacity: 1;
    text-align: center;
    }}}


    .button{
        display:inline-block;
        padding:8px 40px;
        background-color:	#FFCC66;
        color:azure;
        text-decoration: none;
        border-radius: 10%;
        margin-top: 20px;


        cursor:pointer;
    transform: skew(0deg);
    &:before{
    content:"";
    position: absolute; 
    top:0;
    bottom:0;
    right:100%;
    left: 100%; 
    background: #000000; 
    opacity: 0;
    z-index:-1; 
    transition: all 0.5s;
    border-radius: 10%;
    }
    &:hover { 
        
    color:#fff;
    &:before{ 
    left:0;
    right:0;
    
    opacity: 1;
    text-align: center;
    }}}


.footer{
    width: 100%;
    height: 130px;
    background-color:		#660099;
    margin-top: 80px;
}

h3{
    padding: 20px 0px;
    font-size: 170%;
    color:#fff;
    padding-right: 800px;
}



#header{
    background-color:#660099
}


.container{
    max-width: 960px;
    margin: 0px auto;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    height: 130px;
}
#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}


*{
    box-sizing: border-box;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px 50px;
    
}
#search-box #search-text {
    flex: 1;
    height: 23px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

}

.button5{
    padding:5px 5px;
    background-color: #FFCC66;
margin-left: 10px;
border-radius: 10px;
}